
@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")
<body>



    <!-- header -->
    <div class="header">
        <div class="container">
            @await Component.InvokeAsync("_TopAdressPartial")

            @await Component.InvokeAsync("_SocailMediaPartial")

            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <!--Slider-->
    @await Component.InvokeAsync("_NavbarPartial")

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <!-- Modal1 -->
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Tarım LTD</h4>
                    <img src="~/web/images/banner1.jpg" alt=" " class="img-responsive">
                    <h5>GÜVENLİK & GÜVENİRLİK</h5>
                    <p>Tarlamız son derecede güvenli olup, guvenilen insanlar tarafından ekilip biçilmektedir.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!--//Slider-->
    <!--//Header-->
    <!-- about -->
    @await Component.InvokeAsync("_AboutPartial")
    <!-- //about-bottom -->
    <!--sevices-->
    @await Component.InvokeAsync("_ServicePartial")
    <!--//sevices-->
    <!-- team -->
    @await Component.InvokeAsync("_TeamPartial")
    <!-- //team -->
    <!--blog -->
    <!-- //blog -->
    <!-- Modal2 -->
    <!-- //Modal2 -->
    <!-- //Modal4 -->
    <!--/gallery-->
    @await Component.InvokeAsync("_GallaryPartial")
    <!--//gallery-->
    <!--footer-->
    <div class="contact-agile" id="contact">
        <div class="container">
            @await Component.InvokeAsync("_AdressPartial")



            @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")
        </div>
    </div>
    @await Component.InvokeAsync("_MapPartial")
    <link rel="shortcut icon" href="~/web/favicon.ico">

    <div class="copy">
        <p>© @DateTime.Now.Year TarımLTD - Tüm Hakları Saklıdır.</p>
    </div>
    <!--/footer -->
    <!-- js -->
    @await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")

</body>
</html>
