@using EntityLayer.Concrete
@model List<Annoncement>
<div class="blog" id="blog">
    
</div>
<div>

     
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
  
</div>