@using EntityLayer.Concrete
@model List<Adress>

    <h3 class="tittle">Bize Ulaşın</h3>
    <p class="heading-btm-w3ls">Aşağıdaki Form Üzerinden bize mail gönderebilir veya telefonla arayabilirsiniz.</p>
    <div class="col-md-3 contact-left">
        @foreach (var item in Model)
        {


            <h4>Adresimiz</h4>
            <p>@item.Description1</p>
            <p>@item.Description2</p>
            <p>@item.Description3, USA</p>
            <h4>Telefon Numaramız</h4>
            <p>@item.Description4 </p>

        }
    </div>